<body>
    <div class="d-flex justify-content-center align-content-center my-5  conteiner_form">
       <div class="shadow p-4 form">
            <div class="d-flex justify-content-center my-3"> <img src="/Logo.svg" alt="Лого"> </div>
            <div class="d-flex justify-content-center drop_password"><p>Скидання пароля</p></div> 

            <form (ngSubmit)="New_passwor_for_email()">
                <div class="d-grid justify-content-center align-content-center">
                    <label for="phone">Новий пароль</label>
                    <input type="number" required id="phone"  [(ngModel)]="New_password"  name="phone" [ngClass]="selectedClass"> 
                    </div>
                    <div class=" d-flex flex-column  list_a">
                        <button type="submit" class="p-1 for_phone"  [ngClass]="selectedClass">Зберегти новий пароль</button>
                        <a href="choose-restore" class="back">Назад</a>
                      </div>
            </form>
        </div>
   </div>   
   </body>
