
<body>
  <!-- <button class="scroll-to-top" (click)="scrollToTop()"  [class.show]="isScrollToTopVisible">↑</button> -->

<div class="alltext" >

  <div class="find">
    <h1 class="d-flex justify-content-center my-4">Знайдіть собі друга!</h1>
    <div class="textfind">
      Ласкаво просимо на наш сайт – платформу, яка допомагає знайти та дати дім тваринам, які потребують турботи та любові.
    </div>
    <div class="textfind1">
      Тут зібрані тварини різного віку, порід та характерів, готові<br> стати частиною вашої родини.
    </div>
    </div>

  <div class="how">
    <h1 class="d-flex justify-content-center mt-4">Як це працює?</h1>
    <div class="d-flex justify-content-center align-content-center text-center w-75 mx-auto    howtext">
        Наш сайт спрощує процес пошуку та знайомства з тваринами, яких ви можете взяти додому.
    Кожна тварина має докладний профіль з фотографіями, описом, віком та особливостями характеру.
    Ви можете відфільтрувати тварин за своїми уподобаннями та знайти того, хто ідеально підійде вашій родині.
    </div>
  </div>


  <div class="list">
     <h1 class="d-flex justify-content-center mt-4">Чому варто взяти тварину з нашого сайту?</h1>
    <div class="listtext text-center    ">
       <ol>
      <li>Підтримка тварин, які потребують дому. Ви допомагаєте тваринам отримати новий шанс на щасливе життя.</li>
      <li>Перевірені профілі. Кожна тварина ретельно перевірена, а профілі регулярно оновлюються.</li>
      <li>Безпека адаптації. Ми пропонуємо підтримку у період адаптації, щоб ваш новий друг легко звик до нової оселі.</li>
    </ol>
  </div>

  </div>

  <div class="allTitle">
    <div class="Title1">
      <h1 class="d-flex justify-content-center my-3">Навіщо LEARNIX </h1>
      <p class="text-center p-3 ">У сучасних умовах, коли кількість безпритульних тварин в Україні стрімко зростає, важливо мати ефективні інструменти для їх усиновлення та підтримки притулків.
        Find a Friend допомагає людям швидко і зручно знаходити тварин, готових до нової домівки, та надає можливість підтримати притулки в їхній важливій роботі. </p>
    </div>

     <div class="Title2">

      <h1 class="d-flex justify-content-center my-4">Наша місія </h1>
      <p class="text-center p-3 ">Cтворити платформу, що об'єднує людей, які бажають усиновити тварину, з притулками, які потребують допомоги.
        Ми прагнемо зменшити кількість безпритульних тварин в Україні, сприяючи їх усиновленню та надаючи інформацію про притулки. </p>

    </div>

    <div class="Title3">

      <h1 class="d-flex justify-content-center my-4">Наша ціль </h1>
      <p class="text-center p-3 ">Ми ставимо за мету розробити зручний веб-застосунок, який включатиме інтерактивну карту, фільтри для пошуку тварин за різними критеріями та форми для подачі заявок на усиновлення.
        Ми хочемо забезпечити максимально простий і зручний процес для тих, хто готовий надати новий дім тварині або підтримати притулки в їхній діяльності. </p>

    </div>
    </div>

  <div class="step">
    <h1 class="d-flex justify-content-center mt-4">Зробіть крок до нової дружби!</h1>
    <div class="steptext text-center mx-auto">
      Перегляньте доступні профілі роботи тварин, яких до того, щоб подарувати їм новий дім та нове щасливе життя.
    Разом ми зможемо знайти для них ту турботу, яку вони потребують.
  </div>

  </div>

  <div class="rl d-flex justify-content-center my-5"><a href=''>Знайти друга</a></div>
  <!-- <div class="dog"> <img class="img-fluid"  src="goldendog.png" alt="Золотистий ретвиллер" ></div>

  <div class="paw"> <img src="paw.png" alt="paw"> </div>
  <div class="paw1"> <img src="paw.png" alt="paw" ></div>
  <div class="paw2"> <img src="paw.png" alt="paw"></div>
  <div class="paw3"> <img src="paw.png" alt="paw"></div>
  <div class="cat"> <img src="redcar.png" alt="cat"></div> -->
 </div>


 <!-- src="/artem.jpg" -->
<div class="devtitle d-flex justify-content-center mb-5"> <h1>Наша команда</h1> </div>

<div class="Dev  d-flex justify-content-center ">

  <div class="Dev1">
    <img class="PhotoDeveloper"  src="/Logo.svg" alt="FF_LOGO"/>
    <p class="name  mt-2 ">Artem Bilinskyi</p>
    <p class="job px-3">Project Manager, Backend Developer</p>
    <div class="contact">
    <ol>
      <li> <a href="https://github.com/Bil1111" target="_blank"> <i class="bi bi-github" style="font-size:  3.5em; color: #000000;"></i> </a></li>
      <li> <a href="https://t.me/ArtemBilinskyi" target="_blank"> <i class="bi bi-telegram" style="font-size:  3.5em; color: #007bff;"></i> </a></li>
    </ol>
  </div>
    </div>

      <div class="Dev1">
        <img class="PhotoDeveloper" src="/Logo.svg" alt="FF_LOGO"/>
        <p class="name  mt-2 ">Pavlo Kovtun</p>
        <p class="job  px-3">UX/UI Designer,Fronted Developer</p>
        <div class="contact">
        <ol>
          <li> <a href="https://github.com/PINK-MOON-BLOOD" target="_blank"> <i class="bi bi-github" style="font-size:  3.5em; color: #000000;"></i> </a></li>
          <li> <a href="https://t.me/PINK_MOON_BLOOD" target="_blank"> <i class="bi bi-telegram" style="font-size:  3.5em; color: #007bff;"></i> </a></li>
        </ol>
      </div>
        </div>

        <div class="Dev1">
          <img class="PhotoDeveloper" src="/Logo.svg" alt="FF_LOGO"/>
          <p class="name  mt-2">Oleksandr Samsoniuk </p>
          <p class="job  px-3">UX/UI Designer,Fronted Developer</p>
          <div class="contact">
          <ol>
            <li> <a href="https://github.com/Skerl" target="_blank"> <i class="bi bi-github" style="font-size: 3.5em; color: #000000;"></i> </a></li>
            <li> <a href="https://t.me/ssgtkwala" target="_blank"> <i class="bi bi-telegram" style="font-size:  3.5em; color: #007bff;"></i> </a></li>
          </ol>
        </div>
          </div>
</div>


</body>
