body{box-sizing: border-box; font-family: 'e-ukr';
    /* background-color: rgb(255, 46, 46); */

}

.Logo_in_forms{

    width: 36px;
    height: 36px;
}
.text{
    font-size: 28px;
}

.conteiner_form{
    display: flex;
    /* z-index: 10;  */
    position: relative; 
}

.form{
    /* background-color: rgb(255, 255, 255); */
    border-radius: 15px;
    width: 450px;
}
input{
    width: 275px;
    height: 37px;
    border-radius: 5px;
    /* border: solid 0.2px; */
    margin-bottom: 7px; 
    border: 0.3px solid rgb(164, 164, 164);

}
input:focus{
    border: 0.3px solid  rgb(0, 119, 255);
    outline: none;
}
.input-Tritanopia:focus{
    border: 0.3px solid  #ff3333;
    outline: none;
}
.input-MonoHromazia:focus{
    border: 0.3px solid  #545454;
    outline: none;
}
label{
    font-family: 'e-ukrL';
    font-size: 14px;
    display: block;
    line-height: 1.7rem;
}
/* .contunium {
    
} */
.contunium .bc{
  width: 275px;
  border-radius: 6px;
  color: white;
  background-color: #0D2D6A;
  border: solid 0.5px white;
  margin-bottom: 7px;

}
.contunium .bc-Tritanopia{
    width: 275px;
    border-radius: 6px;
    color: white;
    background-color: #000000;
    border: solid 0.5px white;
    margin-bottom: 7px;
  
  }
  .contunium .bc-MonoHromazia{
    width: 275px;
    border-radius: 6px;
    color: white;
    background-color: #000000;
    border: solid 0.5px white;
    margin-bottom: 7px;
  
  }
.contunium .bc:hover{
    color: black;
    background-color:   rgb(151, 149, 149);
    transition: 0.2s ease-out;
  

  }
.contunium .ac {
   display: grid;
   place-items: center;
}
.Do_you_have_account{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 12px;
}
.Do_you_have_account a{ margin-left: 5px;}
.Do_you_have_account a{ margin-left: 5px; text-decoration: none; } 
.Do_you_have_account a:hover{text-decoration: underline;} 

.google-button{
    margin-left: 13px;
    margin-top: 7px;
    padding: 3px;
    padding-left: 9px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 7px;
    border: 1.0px solid rgb(164, 164, 164);}
   
    
.Google_logo{
    width: 28px;
    height: 28px;
    margin-right: 15px;
}
.eye1, .eye2{
    min-width: 7px;
    min-height: 7px;
}

.input_wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

.toggle_button{
    border: none;
    background: transparent;
    position: absolute;
    right: 5px;
    top:5px;
}
/* .restore_conteiner{
    
} */
.restore_conteiner .choose_restore{
    text-decoration: none;
    font-size: 14px;
}
.restore_conteiner .choose_restore:hover{text-decoration: underline;}